<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그 모니터링</title>
    <style>
    table, td, th {
        border : 1px solid black;
        border-collapse : collapse;
    };
    </style>

</head>
<body>
<h2>로그 리스트</h2>
<table class="table table-striped" width="100%">
    <tr>
        <th width="10%" style="text-align: left">ID</th>
        <th width="70%" style="text-align: left">내용</th>
        <th width="20%" style="text-align: left">시간</th>
    </tr>
    <tr th:each="data : ${logs}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.log}"></td>
        <td th:text="${data.time}"></td>
    </tr>
</table>
<div class="paging-div">
    <ul class="pagination" id="pagination">
        <tr th:each="i : ${#numbers.sequence(0,((totalCnt-1)/100))}">
            <a th:href="${i}" th:text="${i}"></a>
        </tr>
    </ul>
</div>

</body>
</html>